/* Selektor znacznika */
p{
    
 color: orange;
    
}

/* Selektor id */

#paragraph {
    
    color: blue;
}

/* Selektr klasy */

.akapit{
    
    color: red;
}

/* Łączenie selektorów*/

a,
span,
div {
    
    color: green
}